*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 95%;
  font-weight: 300;

  @media (min-width: 992px) {
    font-size: 100%;
  }
}

body {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #141414;
  color: #e8e8e7;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  color: #e8e8e7;
  margin: 0 0 1rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.6;
  margin-bottom: 1.125rem;
  max-width: 75ch;

  @media (min-width: 62em) {
    line-height: 1.5;
  }
}

img {
  max-width: 100%;
}

main {
  ul {
    padding-left: 1em;
    font-size: 1.125rem;
    font-family: inherit;
    list-style: none;
    margin-bottom: 1rem;

    li {
      padding-left: 2em;
      margin-left: -1em;
      line-height: 1.5;
      background-image: url('../content/assets/bullet.png');
      background-repeat: no-repeat;
      background-position: top 0.5em left;
    }

    li + li {
      margin-top: 1em;
    }

    &.check li {
      background-image: url('../content/assets/check-bullet.svg');
    }
  }

  section {
    padding: 2rem 0;

    @media (min-width: 992px) {
      padding: 3rem 0;
    }
  }
}

span.green-subtext {
  font-size: 1.125rem;
  display: block;
  color: #148588;
  text-transform: uppercase;
}
